@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Charte couleur */
/* Couleurs fond de sections */
/* Box shadow boutons et cartes */
:root {
  --btn-shadow-dft: 0px 4px 8px rgba(0, 0, 0, 0.25);
  --btn-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.4);
  --tab-shadow-dft: 0px 6px 10px rgba(0, 0, 0, 0.1);
  --tab-shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.15);
  --card-shadow-dft: 0px 2px 14px rgba(0, 0, 0, 0.2);
  --card-shadow-hover: 0px 3px 8px rgba(0, 0, 0, 0.04);
}

/* Couleurs fonts */
.main--home { /* Container main page Accueil */
  font-family: "Roboto", sans-serif;
}
.main--home p {
  font-size: 18px;
  font-weight: 400;
  word-spacing: -0.05em;
}

h2 { /* Titre des containers */
  font-size: 24px;
  font-weight: 700;
}

button { /* boutons explore et order */
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.005em;
}

.location { /* Container location accueil */ }
.location form {
  letter-spacing: 0.01em;
}

.step { /* step container */ }
.step .circle-num {
  font-size: 14px;
  color: white;
}
.step p {
  font-size: 16px;
  font-weight: 600;
}

figcaption p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: black;
}
figcaption p {
  font-size: 18px;
  font-weight: 400;
  color: #696969;
}

footer {
  color: white;
}
footer h4 {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
footer li {
  line-height: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 63px;
  justify-content: center;
  align-items: center;
}
header a {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 36px;
  left: 0;
  padding: 8px 0 0 0;
  text-decoration: none;
  color: black;
}
header img {
  height: 100%;
  width: 162px;
  padding: 8px 0 0 0;
  object-fit: contain;
}

section {
  display: flex;
}

.location, .explore {
  justify-content: center;
}

.location { /* Container location accueil */
  height: 50px;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 6px 3px -3px rgba(0, 0, 0, 0.11);
}
.location i {
  margin-right: 17px;
}

.explore { /* Container explore accueil */
  flex-direction: column;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 10% 5% 15% 5%;
}
.explore .about { /* Contenu about du container explore */
  height: 100%;
}
.explore .about h2 {
  margin: 0 16%;
}
.explore .about p {
  margin: 12px 0 30px 0;
}

.step {
  flex-direction: column;
  padding: 36px 19px 42px 19px;
}
.step h2 {
  margin: 12px 0 30px 0;
}

.rest {
  flex-direction: column;
  padding: 54px 19px 62px 19px;
  background-color: #F6F6F6;
}
.rest h2 {
  margin: 0 0 22px 0;
}
.rest ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.rest ul li {
  height: 251px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: var(--card-shadow-dft);
}

button { /* Style commun aux boutons */
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  height: 50px;
  border-radius: 39px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
  transition: linear 0.3s;
}
button:hover { /* Effet de survol boutons */
  opacity: 0.9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
button.button--explore {
  width: 218px;
}

.step-card { /* Carte step accueil */
  display: flex;
  position: relative;
  height: 73px;
  align-items: center;
  padding: 0 33px;
  margin: 0 0 24px 12px;
  border-radius: 19px;
  background-color: #F6F6F6;
  box-shadow: var(--tab-shadow-dft);
  transition: 0.3s;
}
.step-card:hover {
  box-shadow: var(--tab-shadow-hover);
  background-color: rgba(147, 86, 220, 0.11);
}
.step-card .circle-num {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}
.step-card i {
  width: 20px;
  font-size: 20px;
}
.step-card p {
  margin-left: 28px;
}

.rest-card figure {
  width: 100%;
  height: 174px;
}
.rest-card figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: bottom; /* Enlève  l'espace entre figure et figcaption */
}
.rest-card figure figcaption {
  position: relative;
  height: 77px;
  background-color: white;
  padding: 15px 0 16px 12px;
}
.rest-card figure figcaption :nth-child(1) {
  margin-bottom: 4px;
}

.card1 img {
  object-position: 0 -50px;
}

.card2 img {
  object-position: 0 -150px;
}

.card3 img {
  object-position: 0 -50px;
}

.card4 img {
  object-position: 0 -55px;
}

.icon_fav {
  display: flex;
  position: absolute;
  width: 77px;
  height: 100%;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_fav:hover .fa-heart {
  -webkit-text-stroke: 1.5px transparent;
}
.icon_fav:hover .fa-heart::after {
  opacity: 1;
  font-size: 23px;
  padding: 2px;
}

.fa-heart {
  position: relative;
  font-size: 23px;
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
  transition: 0.6s linear;
}
.fa-heart::after {
  content: "\f004";
  font-size: 0px;
  padding: 13px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: -webkit-linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px;
  opacity: 0;
  transition: 0.4s linear;
}

footer {
  display: block;
  padding: 24px 0 33px 25px;
  background-color: #353535;
}
footer h4 {
  margin-bottom: 13px;
}
footer i {
  font-size: 13px;
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
