@charset "UTF-8";
/* Règles communes */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header, main, footer {
  z-index: 10;
}

/* Fonts */
/* Charte couleur */
/* Couleurs fond de sections */
/* Box shadow boutons, onglets et cartes */
/* Couleurs fonts */
/* Couleur fond carte */
/* Transition pages responsive */
/* media querys */
html, body {
  font-family: "Roboto", sans-serif;
}

/* Page d'accueil */
/* Container main page Accueil */
.main--home p {
  font-size: 18px;
  font-weight: 400;
  word-spacing: -0.05em;
}

/* Titre des containers */
h2 {
  font-size: 24px;
  font-weight: 700;
}
h2.rest-title {
  /* Règle pour pages menu */
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: normal;
}

/* boutons explore et order */
button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.005em;
}

/* Container location accueil */
.location form {
  letter-spacing: 0.01em;
}

/* step container */
.step .circle-num {
  font-size: 14px;
  color: white;
}
.step p {
  font-size: 16px;
  font-weight: 600;
}

/* Contient l'image de carte page accueil */
figcaption p:nth-child(1) {
  /* Nom du restaurant */
  font-size: 18px;
  font-weight: 700;
  margin-right: 77px;
  text-transform: capitalize;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
figcaption p {
  /* Emplacement restaurant page accueil */
  font-size: 18px;
  font-weight: 400;
  margin-right: 77px;
  color: #696969;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Page menu */
.dish .dish-title {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  text-transform: uppercase;
}
.dish .dish-card {
  font-weight: 500;
}
.dish .dish-card h4 {
  font-size: 18px;
}
.dish .dish-card p {
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #696969;
}
.dish .dish-card p:nth-child(2) {
  font-weight: 700;
}

/* Footer */
footer {
  color: white;
}
footer p {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
footer li {
  line-height: 27px;
  font-size: 16px;
  font-weight: normal;
}
footer li a {
  color: white;
}

.loading {
  font-family: "Shrikhand", cursive;
  font-size: 34px;
}

/* Mise en page */
/* Page de loading */
.loading {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: loading-shutdown 1.8s forwards;
  animation-delay: 1.3s;
}
.loading .span-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  animation-delay: 1s;
  animation: loading-shutdown-span 1.8s forwards;
}
.loading .span-container .underline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 200;
  overflow: hidden;
}
.loading span {
  display: inline-block;
  transform: translateY(50px);
  animation: loading-letter 1.2s forwards;
}
.loading .circle {
  position: absolute;
  transform: translateY(-5px);
  background-color: #FF79DA;
  animation: loading-circle 1.4s forwards;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 63px;
  justify-content: center;
  align-items: center;
  /* Zone de clique étendu pour icone flèche retour */
  /* icone flèche retour */
  /* logo ohmyfood */
}
header a {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 63px;
  left: 0;
  text-decoration: none;
  color: black;
}
header i {
  font-size: 21px;
  padding: 26px 0 21px 0;
}
header img {
  height: 100%;
  width: 162px;
  padding: 8px 0 0 0;
  object-fit: contain;
}

/* Règle commune */
section {
  display: flex;
  transition: all 0.5s ease-in-out;
}

/* règle container location + explore */
.location, .explore {
  justify-content: center;
}

/* Container location accueil */
.location {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 6px 3px -3px rgba(0, 0, 0, 0.11);
}
.location--wide {
  display: none;
}
.location i {
  margin-right: 17px;
}
.location input {
  display: none;
}

/* Container explore accueil */
.explore {
  flex-direction: column;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 10% 5% 15% 5%;
  /* Contenu about du container explore */
}
.explore .about {
  height: 100%;
}
.explore .about h2 {
  margin: 0 16%;
}
.explore .about p {
  margin: 12px 0 30px 0;
}

/* Container Fonctionnement */
.step {
  flex-direction: column;
  padding: 36px 19px 42px 19px;
}
.step h2 {
  margin: 12px 0 30px 0;
}

/* Container Restaurants */
.rest {
  flex-direction: column;
  padding: 54px 19px 62px 19px;
  background-color: #F6F6F6;
}
.rest h2 {
  margin: 0 0 22px 0;
}
.rest ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 18px;
}
.rest ul li {
  position: relative;
  height: 251px;
  border-radius: 14px;
  padding-bottom: 77px;
  overflow: hidden;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.04);
  transition: 0.3s ease;
}
.rest ul li:hover {
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.125);
}

/* Container principal page menu */
.main--menu {
  width: 100%;
  /* Container image sous le header page menu */
}
.main--menu .menu-top-img {
  display: flex;
  height: 267px;
}
.main--menu .menu-top-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

/* Container menu */
.menu {
  flex-direction: column;
  position: relative;
  margin-top: -51px;
  width: 100%;
  padding: 36px 14px;
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6;
}
.menu h2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}
.menu .order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0 48px 0;
}

/* Container type de plats */
.dish {
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
  background-color: #F6F6F6;
}
.dish .dish-title {
  position: relative;
  margin-bottom: 22px;
  padding: 0 6px;
}
.dish .dish-title::before {
  /* Ligne sous titre */
  content: "";
  position: absolute;
  width: 40px;
  height: 95%;
  padding: 3px 0;
  top: 0;
  border-bottom: 3px solid #99E2D0;
}

footer {
  display: block;
  padding: 24px 0 27px 25px;
  background-color: #353535;
}
footer p {
  margin-bottom: 13px;
}
footer i {
  font-size: 13px;
  margin-right: 10px;
}

/* Composants */
/* Style commun aux boutons */
button {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  height: 50px;
  width: 218px;
  border-radius: 39px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
  transition: linear 0.3s;
  cursor: pointer;
  /* Effet de survol boutons */
}
button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
button.button--order {
  width: 185px;
}

.order--wide {
  display: none;
}

/* Carte page accueil */
/* Carte step */
.step-card {
  display: flex;
  position: relative;
  height: 73px;
  align-items: center;
  padding: 0 33px;
  margin: 0 0 24px 12px;
  border-radius: 19px;
  background-color: #F6F6F6;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.step-card:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(147, 86, 220, 0.11);
}
.step-card:hover > i {
  color: #9356DC;
}
.step-card .circle-num {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}
.step-card i {
  width: 20px;
  font-size: 20px;
  transition: 0.3s ease;
}
.step-card p {
  margin-left: 28px;
}

/* Cartes restaurants */
.rest-card--new::after {
  /* Encard "Nouveau" */
  content: "Nouveau";
  position: absolute;
  width: 80px;
  border-radius: 2px;
  top: 12px;
  right: 12px;
  padding: 7px 0 7px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #139273;
  background-color: #99E2D0;
}
.rest-card figure {
  width: 100%;
  height: 100%;
}
.rest-card figure img {
  width: 100%;
  height: 100%;
  /* Enlève  l'espace entre figure et figcaption */
  vertical-align: bottom;
  object-fit: cover;
  object-position: center;
}
.rest-card figure .figcaption {
  background-color: white;
  padding: 15px 0 16px 12px;
}
.rest-card figure .figcaption--new::after {
  /* Encard "Nouveau" ver. tablet / desktop */
  content: "Nouveau";
  display: none;
  position: absolute;
  width: 80px;
  border-radius: 2px;
  bottom: 24px;
  left: 27px;
  padding: 7px 0 7px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #139273;
  background-color: #99E2D0;
}
.rest-card figure .figcaption :nth-child(1) {
  margin-bottom: 4px;
}

/* Cartes pages menus */
.dish-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
  margin: 14px 0;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  animation: element-load-left 0.8s forwards;
  opacity: 0;
}
.dish-card:hover {
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.125);
}
.dish-card .dish-card-txt {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 0 6% 0 3%;
  gap: 7%;
}
.dish-card .dish-card-txt h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s ease;
}
.dish-card .dish-card-txt .dish-card-subtxt {
  display: flex;
  width: 100%;
  transition: all 0.2s ease;
}
.dish-card .dish-card-txt .dish-card-subtxt .dish-subtxt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s ease;
}
.dish-card .dish-card-txt .dish-card-subtxt .dish-price {
  text-align: end;
  padding-left: 10px;
}

/* Zone de clique étendu pour icone favoris */
.icon_fav {
  display: flex;
  position: absolute;
  width: 77px;
  height: 77px;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Règle spécifique pages menu */
  /* Animation icone au survol de la zone de clique étendu */
}
.icon_fav--menu {
  width: 70px;
  height: auto;
  top: 0;
}
.icon_fav:hover .fa-heart {
  -webkit-text-stroke: 1.5px transparent;
  /* Replicat visible au survol */
}
.icon_fav:hover .fa-heart::after {
  opacity: 1;
  font-size: 23px;
  padding: 2px;
}

/* Icone favoris */
.fa-heart {
  position: relative;
  font-size: 23px;
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
  transition: 0.5s linear;
  /* Replicat icone favoris en transparence */
}
.fa-heart::after {
  content: "\f004";
  font-size: 0px;
  /* fait apparaitre l'icone au centre */
  padding: 13px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: -webkit-linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px;
  opacity: 0;
  transition: 0.3s linear;
}

/* Animations */
/* Animation de l'icône 
de validation du produit sur carte menu*/
/* Container icône */
.dish-check {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  right: 0;
  top: 0;
  width: 61px;
  height: 100%;
  transform: translateX(104%);
  background-color: #99E2D0;
  transition: all 0.3s ease;
  /* icône */
}
.dish-check .fa-circle-check {
  transform: rotate(360deg);
  transition: 0.4s ease;
}

/* Container carte menu */
.dish-card:hover .dish-check {
  transform: translateX(0%);
  /* Rotation icône */
}
.dish-card:hover .dish-check .fa-circle-check {
  transform: rotate(0deg);
}
.dish-card:hover h4 {
  width: 72%;
  padding-right: 10px;
}
.dish-card:hover .dish-card-subtxt {
  width: 82%;
}

/* Animation loading page */
/* Animation lettres */
@keyframes loading-letter {
  0% {
    transform: translateY(50px);
  }
  25% {
    transform: translateY(0px);
  }
  27% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
    color: white;
  }
}
/* Animation lettres */
.loading span:nth-child(1) {
  animation-delay: 0.1s;
  color: #9356DC;
}
.loading span:nth-child(2) {
  animation-delay: 0.5s;
  color: #99E2D0;
}
.loading span:nth-child(3) {
  animation-delay: 1s;
  color: #FF79DA;
}

/* Animation cercle */
@keyframes loading-circle {
  0% {
    height: 60px;
    width: 60px;
    background-color: #99E2D0;
  }
  25% {
    height: 120px;
    width: 100%;
    background-color: #99E2D0;
  }
  27% {
    height: 120px;
    width: 100%;
    background-color: #FF79DA;
  }
  90% {
    height: 100%;
    width: 100%;
    background-color: #FF79DA;
  }
  100% {
    height: 100%;
    width: 0%;
    background-color: #9356DC;
  }
}
@keyframes loading-shutdown-span {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
    z-index: -10;
  }
}
@keyframes loading-shutdown {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    height: 100%;
  }
  90% {
    opacity: 1;
    height: 0;
  }
  100% {
    height: 0;
    z-index: -10;
  }
}
/* Fin animation loading page */
/* Animation oredre apparition cartes */
/* Animation chargement des éléments carte menu */
@keyframes element-load-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.dish-card:nth-of-type(1) {
  animation-delay: 0.1s;
}
.dish-card:nth-of-type(2) {
  animation-delay: 0.3s;
}
.dish-card:nth-of-type(3) {
  animation-delay: 0.5s;
}
.dish-card:nth-of-type(4) {
  animation-delay: 0.7s;
}

/* Responsive */
/* Media querys tablette */
/* Media querys desktop */
@media screen and (min-width: 1024px) {
  .header {
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
  }
  .header img {
    margin-left: 60px;
  }
}

@media screen and (min-width: 650px) and (max-width: 1023px) {
  .header--fixed {
    position: fixed;
    background-color: white;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    /* bouton commander ver. tablette apparent */
  }
  .header--fixed .order--wide {
    display: block;
    position: inherit;
    right: 29px;
    /* modif taille bouton */
  }
  .header--fixed .order--wide button {
    height: 45px;
    width: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .header--fixed {
    position: fixed;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    /* bouton commander ver. tablette apparent */
  }
  .header--fixed img {
    margin-left: 60px;
  }
  .header--fixed .order--wide {
    display: block;
    position: inherit;
    right: 29px;
    /* modif taille bouton */
  }
  .header--fixed .order--wide button {
    height: 45px;
    width: 180px;
  }
}

@media screen and (min-width: 650px) and (max-width: 1023px) {
  .location--mobile {
    /* Localisation */
    display: none;
  }
  .location--wide {
    display: flex;
    margin-bottom: 27px;
    background-color: white;
    border-radius: 6px;
    box-shadow: none;
  }
}
@media screen and (min-width: 1024px) {
  .location--mobile {
    /* Localisation */
    display: none;
  }
  .location--wide {
    display: flex;
    position: relative;
    margin-bottom: 34px;
    background-color: white;
    border-radius: 6px;
    box-shadow: none;
  }
  .location--wide i {
    position: absolute;
    left: 0.75%;
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #F6F6F6;
  }
  .location--wide form {
    font-size: 20px;
  }
}

@media screen and (min-width: 650px) and (max-width: 1023px) {
  section {
    transition: all 0.5s ease-in-out;
  }
  section.explore {
    /* Container explore accueil */
    padding: 10%;
  }
  section.step {
    /* section étapes fonctionnement*/
    position: relative;
    margin: 10% 5% 5% 5%;
    padding: 8% 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  section.step h2 {
    /* Titre fonctionnement */
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 24px;
  }
  section.step .step-card {
    /* cartes étapes */
    flex-direction: column;
    justify-content: center;
    width: 198px;
    height: 139px;
    padding: 0 0;
    margin: 0 0 0 0;
    background-color: transparent;
    box-shadow: none;
  }
  section.step .step-card .circle-num {
    left: 50%;
    top: 24%;
    width: 33px;
    height: 33px;
    line-height: 30px;
    border: 2px solid white;
  }
  section.step .step-card i {
    width: 59px;
    font-size: 59px;
  }
  section.step .step-card p {
    margin: 12% 0;
  }
  section.rest {
    /* Section restaurants */
    align-items: center;
    padding-bottom: 10%;
  }
  section.rest h2 {
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 24px;
  }
  section.rest ul {
    width: 60%;
    row-gap: 28px;
  }
  section.rest ul li {
    /* Carte restaurant */
    position: relative;
    width: 100%;
    padding-right: 60%;
    height: 175px;
  }
  section.rest .rest-card--new::after {
    display: none;
  }
  section.rest .rest-card figure {
    height: 100%;
  }
  section.rest .rest-card figure .figcaption {
    position: absolute;
    width: 55%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 31px 0 31px 27px;
  }
  section.rest .rest-card figure .figcaption--new::after {
    display: initial;
  }
  section.rest .rest-card figure .figcaption :nth-child(1) {
    /* Nom restaurant */
    margin-bottom: 15px;
  }
  section.rest .rest-card figure .figcaption .icon_fav {
    /* Zone de clique icone favoris */
    align-items: flex-end;
    padding-bottom: 13px;
  }
  section.rest .rest-card figure img {
    position: absolute;
    width: 45%;
    left: 0;
  }
  section.menu {
    /* Section menu */
    padding: 10% 23%;
    border-radius: 0;
    margin: 0;
  }
  section.menu .order--mobile {
    /* bouton commander ver. mobile retiré */
    display: none;
  }
  section.menu .dish-card:hover h4 {
    width: 75%;
  }
  section.menu .dish-card:hover .dish-card-subtxt {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  section {
    transition: all 0.5s ease-in-out;
  }
  section.explore {
    /* Container explore accueil */
    padding: 8% 5% 5% 5%;
  }
  section.explore h2 {
    font-size: 32px;
  }
  section.explore p {
    font-size: 24px;
  }
  section.step {
    /* section étapes fonctionnement*/
    position: relative;
    margin: 80px 0 0 0;
    padding: 10px 0 0 0;
    height: 299px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  section.step h2 {
    /* Titre fonctionnement */
    position: absolute;
    top: 0;
    font-size: 30px;
  }
  section.step .step-card {
    /* cartes étapes */
    flex-direction: column;
    width: 198px;
    height: 139px;
    padding: 0 0;
    margin: 0 0 0 0;
    background-color: transparent;
    box-shadow: none;
  }
  section.step .step-card .circle-num {
    left: 50%;
    top: 20%;
    width: 33px;
    height: 33px;
    line-height: 30px;
    border: 2px solid white;
  }
  section.step .step-card i {
    width: 59px;
    font-size: 59px;
  }
  section.step .step-card p {
    margin-left: 0;
    margin-top: 12%;
  }
  section.rest {
    /* Section restaurants */
    align-items: center;
    padding-bottom: 10%;
  }
  section.rest h2 {
    text-align: center;
    margin: 20px 0 60px 0;
    font-size: 30px;
  }
  section.rest ul {
    width: 60%;
    row-gap: 38px;
  }
  section.rest ul li {
    /* Carte restaurant */
    position: relative;
    height: 195px;
    width: 100%;
    padding-right: 60%;
  }
  section.rest .rest-card--new::after {
    display: none;
  }
  section.rest .rest-card figure {
    height: 100%;
  }
  section.rest .rest-card figure .figcaption {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 31px 0 31px 27px;
  }
  section.rest .rest-card figure .figcaption--new::after {
    /* Encard "Nouveau" ver. tablet / desktop */
    display: initial;
  }
  section.rest .rest-card figure .figcaption p {
    font-size: 22px;
  }
  section.rest .rest-card figure .figcaption :nth-child(1) {
    /* Nom restaurant */
    margin-bottom: 15px;
  }
  section.rest .rest-card figure .figcaption .icon_fav {
    /* Zone de clique icone favoris */
    align-items: flex-end;
    padding-bottom: 13px;
  }
  section.rest .rest-card figure img {
    position: absolute;
    width: 45%;
    left: 0;
  }
  section.menu {
    /* Section menu */
    padding: 6% 25%;
    border-radius: 0;
    margin: 0;
  }
  section.menu h2 {
    font-size: 36px;
  }
  section.menu .order--mobile {
    /* bouton commander ver. mobile retiré */
    display: none;
  }
  section.menu .dish {
    margin: 26px 0 26px 0;
  }
  section.menu .dish .dish-title {
    font-size: 22px;
  }
  section.menu .dish-card {
    /* carte menu */
    height: 96px;
  }
  section.menu .dish-card h4 {
    font-size: 22px;
  }
  section.menu .dish-card .dish-card-txt {
    gap: 10%;
  }
  section.menu .dish-card .dish-subtxt {
    font-size: 20px;
  }
  section.menu .dish-card .dish-price {
    font-size: 20px;
  }
  section.menu .dish-card .dish-check {
    font-size: 30px;
    width: 91px;
  }
}

@media screen and (min-width: 1024px) {
  .main--menu {
    transition: all 0.5s ease-in-out;
  }
  .main--menu .menu-top-img {
    position: relative;
    height: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .icon_fav {
    transition: all 0.5s ease-in-out;
  }
  .icon_fav--top {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    right: 9%;
    padding: 4px 0 0 0;
    border-radius: 30px;
    background-color: white;
  }
  .icon_fav--menu {
    display: none;
  }
}

/* Fonts */
/* Shrikhand */
/* Roboto */

/*# sourceMappingURL=main.css.map */
