@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  list-style: none;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --btn-shadow-dft: 0px 4px 8px rgba(0, 0, 0, 0.25);
  --btn-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.4);
  --tab-shadow-dft: 0px 6px 10px rgba(0, 0, 0, 0.1);
  --tab-shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.main--home { /* Container main page Accueil */
  font-family: "Roboto", sans-serif;
}
.main--home p {
  font-size: 18px;
  font-weight: 400;
  word-spacing: -0.05em;
}

h2 { /* Titre des containers */
  font-size: 24px;
  font-weight: 700;
}

button { /* boutons explore et order */
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.005em;
}

.location { /* Container location accueil */ }
.location form {
  letter-spacing: 0.01em;
}

.step { /* step container */ }
.step .circle-num {
  font-size: 14px;
  color: white;
}
.step p {
  font-size: 16px;
  font-weight: 600;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 63px;
  justify-content: center;
  align-items: center;
}
header a {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 36px;
  left: 0;
  padding: 8px 0 0 0;
  text-decoration: none;
  color: black;
}
header img {
  height: 100%;
  width: 162px;
  padding: 8px 0 0 0;
  object-fit: contain;
}

section {
  display: flex;
}

.location, .explore {
  justify-content: center;
}

.location { /* Container location accueil */
  height: 50px;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 6px 3px -3px rgba(0, 0, 0, 0.11);
}
.location i {
  margin-right: 17px;
}

.explore { /* Container explore accueil */
  flex-direction: column;
  height: 286px;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.explore .about { /* Contenu about du container explore */
  height: 100%;
  padding: 10% 0;
}
.explore .about h2 {
  margin: 0 16%;
}
.explore .about p {
  margin: 12px 0 30px 0;
}

.step {
  flex-direction: column;
  padding: 36px 19px 36px 19px;
}
.step h2 {
  margin: 12px 0 30px 0;
}

.rest {
  flex-direction: column;
  height: auto;
  background-color: #F6F6F6;
}
.rest ul {
  position: relative;
  width: 100%;
}
.rest ul li {
  height: 171px;
  border: solid;
}

button { /* Style commun aux boutons */
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  height: 50px;
  border-radius: 39px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
  transition: linear 0.3s;
}
button:hover { /* Effet de survol boutons */
  opacity: 0.9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
button.button--explore {
  width: 218px;
}

.step-card { /* Carte step accueil */
  display: flex;
  position: relative;
  height: 73px;
  align-items: center;
  padding: 0 33px;
  margin: 0 0 24px 12px;
  border-radius: 19px;
  background-color: #F6F6F6;
  box-shadow: var(--tab-shadow-dft);
  transition: 0.3s;
}
.step-card:hover {
  box-shadow: var(--tab-shadow-hover);
  background-color: rgba(147, 86, 220, 0.11);
}
.step-card .circle-num {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
}
.step-card i {
  width: 20px;
  font-size: 20px;
}
.step-card p {
  margin-left: 28px;
}

.rest-card img {
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
