/* Animation loading page */

@keyframes loading-letter {    /* Animation lettres */
    0% {
        transform: translateY(50px);
    }
    25% {
        transform: translateY(0px);
    }
    27% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
        color: white;
    }
}

.loading {  /* Animation lettres */
    span {
        &:nth-child(1) {
            animation-delay: 0.1s;
            color: $color-primary;
        }

        &:nth-child(2) {
            animation-delay: 0.5s;
            color: $color-tertiary;
        }
        &:nth-child(3) {
            animation-delay: 1s;
            color: $color-secondary;
        }
    }
}

@keyframes loading-circle {     /* Animation cercle */
    0% {
        height: 60px;
        width: 60px;
        background-color: $color-tertiary;
    }
    25% {
        height: 120px;
        width: 100%;
        background-color: $color-tertiary;
    }
    27% {
        height: 120px;
        width: 100%;
        background-color: $color-secondary;
    }
    90% {
        height: 100%;
        width: 100%;
        background-color: $color-secondary;
    }
    100% {
        height: 100%;
        width: 0%;
        background-color: $color-primary;
    }
}

@keyframes loading-shutdown-span {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0;
        z-index: -10;
    }
}

@keyframes loading-shutdown {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        height: 100%;
    }
    90% {
        opacity: 1;
        height: 0;
    }
    100% {
        height: 0;
        z-index: -10;
    }
}

/* Fin animation loading page */

/* Animation oredre apparition cartes */