/* Animation loading page */

@keyframes loading-letter {
    0% {
        transform: translateY(0);
        color: $color-primary;
    }
    25% {
        transform: translateY(-25px);
        margin-left: 5px;
        text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
        color: white;
    }
    70% {
        color: $color-primary;
    }
    80% {
        transform: translateY(0);
        color: $color-primary;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ball-jump {  /* Animation balle */
    0% {
        right: 19%;
        top: 46%;
        opacity: 0;
    }
    20% {
        right: 19%;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        opacity: 1;
    }
    50% {
        right: 0;
        top: 0;
        border-radius: 0px;
        width: 100%;
        height: 63px;
    }
    68% {
        right: 0;
        top: 0;
        width: 100%;
        height: 63px;
        border-radius: 0px;
        background-color: white;
    }
    100% {
        right: 0;
        top: 0;
        width: 100%;
        height: 63px;
        border-radius: 0px;
        background-color: white;
    }
}

@keyframes loading-transparent {    /* Animation transparence header */
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loading {  /* Animation lettresa    */
    
    span {
        &:nth-child(1) {
            animation-delay: .08s;
        }
        &:nth-child(2) {
            animation-delay: .16s;
        }
        &:nth-child(3) {
            animation-delay: .24s;
        }
        &:nth-child(4) {
            animation-delay: .32s;
        }
        &:nth-child(5) {
            animation-delay: .4s;
        }
        &:nth-child(6) {
            animation-delay: .48s;
        }
        &:nth-child(7) {
            animation-delay: .56s;
        }
        &:nth-child(8) {
            animation-delay: .64s;
        }
        &:nth-child(9) {
            animation-delay: .72s;
        }
    }
}

/* Fin animation loading page */

/* Animation oredre apparition cartes */