* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Charte couleur */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* Couleurs fond de sections */

$color-dark-gray: #EAEAEA;
$color-light-gray: #F6F6F6;
$color-backgrnd-footer: #353535;

/* Box shadow boutons et cartes */

:root {
    --btn-shadow-dft: 0px 4px 8px rgba(0, 0, 0, 0.25);
    --btn-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.4);
    --tab-shadow-dft: 0px 6px 10px rgba(0, 0, 0, 0.1);
    --tab-shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.15);
    --card-shadow-dft: 0px 2px 14px rgba(0, 0, 0, 0.2);
    --card-shadow-hover: 0px 3px 8px rgba(0, 0, 0, 0.04);
}

/* Couleurs fonts */

$color-font-gray: #696969;