/* Importation des fonts */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Variables fonts */
$font-logo: 'Shrikhand', cursive;
$font-txt: 'Roboto', sans-serif;

/* Page d'accueil */

/* Container main page Accueil */
.main--home {
    font-family: $font-txt;
        p {
            font-size: 18px;
            font-weight: 400;
            word-spacing: -0.05em;
        }
}

/* Titre des containers */
h2 {
    font-size: 24px;
    font-weight: 700;

    /* Règle pour pages menu */
    &.rest-title {
        font-family: $font-logo;
        font-size: 28px;
        font-weight: normal;
    }
}

/* boutons explore et order */
button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.005em;
}

/* Container location accueil */
.location {
    form {
        letter-spacing: 0.01em;
    }
}

/* step container */
.step {
    .circle-num {   
        font-size: 14px;
        color: white;
    }

    p {
        font-size: 16px;
        font-weight: 600;
    }
}

/* Contient l'image de carte page accueil */
figcaption {
    p:nth-child(1) {
    /* Nom du restaurant */
        font-size: 18px;
        font-weight: 700;
        margin-right: 77px;
        text-transform: capitalize;
        color: black;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    p {
    /* Emplacement restaurant page accueil */
        font-size: 18px;
        font-weight: 400;
        margin-right: 77px;
        color: $color-font-gray;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Page menu */

.dish {
    font-family: $font-txt;

    .dish-title {
        font-size: 16px;
        font-weight: 400;
        color: $color-font-gray;
        text-transform: uppercase;
    }

    .dish-card {
        font-weight: 500;

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 15px;
            letter-spacing: -0.01em;
            color: $color-font-gray;

            &:nth-child(2) {
                font-weight: 700;
            }
        }
    }
}

/* Footer */

footer {
    color: white;

    p {
        font-size: 18px;
        font-family: $font-logo;
        font-weight: 400;
    }

    li {
        line-height: 27px;
        font-family: $font-txt;
        font-size: 16px;
        font-weight: normal;
        
        a {
            color: white;
        }
    }
}

.loading {
    font-family: $font-logo;
    font-size: 34px;
}