@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

$font-logo: 'Shrikhand', cursive;
$font-txt: 'Roboto', sans-serif;

.main--home {  /* Container main page Accueil */
    font-family: $font-txt;
        p {
            font-size: 18px;
            font-weight: 400;
            word-spacing: -0.05em;
        }
}

h2 {    /* Titre des containers */
    font-size: 24px;
    font-weight: 700;

    &.rest-title {
        font-family: $font-logo;
        font-size: 28px;
    }
}

button {    /* boutons explore et order */
    font-size: 16px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.005em;
}

.location {     /* Container location accueil */
    form {
        letter-spacing: 0.01em;
    }
}

.step {     /* step container */
    .circle-num {   
        font-size: 14px;
        color: white;
    }

    p {
        font-size: 16px;
        font-weight: 600;
    }
}

figcaption {
    p:nth-child(1) {
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
        color: black;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: $color-font-gray;
    }
}


footer {
    color: white;

    h4 {
        font-size: 18px;
        font-family: $font-logo;
        font-weight: normal;
    }

    li {
        line-height: 27px;
        font-family: $font-txt;
        font-size: 16px;
        font-weight: normal;
    }
}