section {   /* Règle commune */
    display: flex;
}

.location, .explore {   /* règle container location + explore */
    justify-content: center;
}

.location {     /* Container location accueil */
    height: 50px;
    align-items: center;
    background-color: $color-dark-gray;
    box-shadow: inset 0px 6px 3px -3px rgba(0, 0, 0, 0.11);

    i {
        margin-right: 17px;
    }
}

.explore {      /* Container explore accueil */
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
    background-color: $color-light-gray;
    padding: 10% 5% 15% 5%;

    .about {    /* Contenu about du container explore */
        height: 100%;
        
        h2 {
            margin: 0 16%;
        }

        p {
            margin: 12px 0 30px 0;
        }
    }
}

.step {     /* Container Fonctionnement */
    flex-direction: column;
    padding: 36px 19px 42px 19px;

    h2 {
        margin: 12px 0 30px 0;
    }
}

.rest {     /* Container Restaurants */
    flex-direction: column;
    padding: 54px 19px 62px 19px;
    background-color: $color-light-gray;

    h2 {
        margin: 0 0 22px 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        li {
            height: 251px;
            border-radius: 14px;
            overflow: hidden;
            box-shadow: var(--card-shadow-dft);
        }
    }
}

.main-menu {    /* Container principal page menu */
    width: 100%;

    .menu-top-img {
        height: 267px;
    }

    >.dish {
        padding: 0 12px;
        margin-top: 30px;
    }
}

.menu-top-img {     /* Container image sous le header page menu */
    img {
        width: 100%;
        object-fit: cover;
    }
}

.menu {     /* Container menu */
    flex-direction: column;
    position: relative;
    margin-top: -51px;
    width: 100%;
    padding: 36px 20px;
    border-radius: 42px 42px 0 0;
    background-color: $color-light-gray;

    h2 {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
}

.dish {     /* Container type de plats */
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 30px 0;
    background-color: $color-light-gray;

    .dish-title {
        position: relative;
        margin-bottom: 22px;
        
        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 100%;
            padding: 3px 0;
            top: 0;
            border-bottom: 3px solid $color-tertiary;
        }
    }
}