footer {
    display: block;
    padding: 24px 0 27px 25px;
    background-color: $color-backgrnd-footer;
    
    h4 {
        margin-bottom: 13px;
    }

    i {
        font-size: 13px;
        margin-right: 10px;
    }
}