header {
    display: flex;
    position: relative;
    width: 100%;
    height: 63px;
    justify-content: center;
    align-items: center;
    
    /* Zone de clique étendu pour icone flèche retour */
    a {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 63px;
        left: 0;
        text-decoration: none;
        color: black;
    }

    /* icone flèche retour */
    i {
        font-size: 21px;
        padding: 26px 0 21px 0;
    }

    /* logo ohmyfood */
    img {
        height: 100%;
        width: 162px;
        padding: 8px 0 0 0;
        object-fit: contain;
    }
}